@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--text-size);
}

a {
  user-select: none;
  color: var(--text-color);
}

a:visited,
a:active {
  color: var(--visited-link-color);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 90vh;
  width: 90vh;
  aspect-ratio: 1;

  touch-action: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer * {
  padding: 1rem;
  font-size: var(--text-size);
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 90vw;
    width: 90vw;
  }

  .footer {
    justify-content: space-around;
  }
}
