name: Release

on:
  push:
    tags: ['*']

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 25
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Zip dist folder
        run: zip -r dist.zip dist/  # Zips entire dist/ folder

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}  # Matches pushed tag (e.g., v1.0.0)
          release_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload dist.zip to Release
        uses: ncipollo/release-action@v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          artifactErrorsFailBuild: true
          artifacts: dist.zip