name: Release

on:
  push:
    tags: ['*']

permissions:
  contents: write

env:
  DIST_FOLDER: dist
  ZIP_FILE: dist.zip

jobs:

  test:
    uses: ./.github/workflows/test.yml

  release:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 25
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Zip dist folder
        run: zip -r ${{ env.ZIP_FILE }} ${{ env.DIST_FOLDER }}/

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          prerelease: false
          artifacts: ${{ env.ZIP_FILE }}